In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!date

import aesara.tensor as at
import arviz as az
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pymc as pm
import seaborn as sns

from matplotlib.ticker import StrMethodFormatter

%matplotlib inline

Mon Dec 19 03:43:33 UTC 2022

In [4]:
df_2022 = pd.read_csv(f'/content/drive/My Drive/MIT Year 4/Fall Semester/9.66/9.66 Final Project/NFL_games_by_week_2022.csv', index_col=0)
df_2022

,Day,Date,Time,Winner/tie,At,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
Week,,,,,,,,,,,,
1,Thu,2022-09-08,8:20 PM,Buffalo Bills,@,Los Angeles Rams,31,10,413,4,243,3
1,Sun,2022-09-11,1:00 PM,New Orleans Saints,@,Atlanta Falcons,27,26,385,1,416,2
1,Sun,2022-09-11,1:00 PM,Cleveland Browns,@,Carolina Panthers,26,24,355,0,261,1
1,Sun,2022-09-11,1:00 PM,Chicago Bears,NaN,San Francisco 49ers,19,10,204,1,331,2
1,Sun,2022-09-11,1:00 PM,Pittsburgh Steelers,@,Cincinnati Bengals,23,20,267,0,432,5
...,...,...,...,...,...,...,...,...,...,...,...,...
14,Mon,2022-12-12,8:15 PM,New England Patriots,@,Arizona Cardinals,27,13,328,1,323,2
15,Thu,2022-12-15,8:15 PM,San Francisco 49ers,@,Seattle Seahawks,21,13,381,0,277,1
15,Sat,2022-12-17,1:00 PM,Minnesota Vikings,NaN,Indianapolis Colts,39,36,518,3,341,1
15,Sat,2022-12-17,4:30 PM,Cleveland Browns,NaN,Baltimore Ravens,13,3,283,0,324,2
15,Sat,2022-12-17,8:15 PM,Buffalo Bills,NaN,Miami Dolphins,32,29,446,1,405,0

In [5]:
result = {'home_team' : [], 'away_team' : [], 'home_score' : [], 'away_score' : []}

for i, row in df_2022.iterrows():

  if row['At'] == '@':

    home_idx, away_idx = 'Loser/tie', 'Winner/tie'
    home_score_idx, away_score_idx = 'PtsL', 'PtsW'

  else: 
    
    home_idx, away_idx = 'Winner/tie', 'Loser/tie'
    home_score_idx, away_score_idx = 'PtsW', 'PtsL'


  home_team, away_team = row[home_idx], row[away_idx]
  home_score, away_score = row[home_score_idx], row[away_score_idx]

  result['home_team'].append(home_team)
  result['away_team'].append(away_team)
  result['home_score'].append(home_score)
  result['away_score'].append(away_score)

edited_df = pd.DataFrame.from_dict(result)
edited_df

              home_team             away_team  home_score  away_score
0      Los Angeles Rams         Buffalo Bills          10          31
1       Atlanta Falcons    New Orleans Saints          26          27
2     Carolina Panthers      Cleveland Browns          24          26
3         Chicago Bears   San Francisco 49ers          19          10
4    Cincinnati Bengals   Pittsburgh Steelers          20          23
..                  ...                   ...         ...         ...
207   Arizona Cardinals  New England Patriots          13          27
208    Seattle Seahawks   San Francisco 49ers          13          21
209   Minnesota Vikings    Indianapolis Colts          39          36
210    Cleveland Browns      Baltimore Ravens          13           3
211       Buffalo Bills        Miami Dolphins          32          29

[212 rows x 4 columns]

In [6]:
edited_df.to_csv(path_or_buf=f'/content/drive/My Drive/MIT Year 4/Fall Semester/9.66/9.66 Final Project/NFL_games_data_2022.csv')